/* this is a comment */
h1 {
  color: blue;
  background-color: rgb(0, 255, 64);
}
h2 {
  color: rgb(0, 60, 255);
  font-family: sans-serif;
}

p {
  color: #bc4882(174, 43, 226);
}
.orange {
  background-color: rgb(0, 81, 255);
}
body {
  background-color: #fefae0;
}
